@tailwind base;
@tailwind components;
@tailwind utilities;


/* header div */
.header{
    color: rgb(45,45,45);
    height: 60px;
    background-color: white;
    position: fixed;
    z-index: 1;
    margin: 0% auto;
    width: 100%;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 0px 20px rgba(87, 85, 85, 0.199)
    
}

.navGap{
    padding-top: 60px;
}


/* header div ul list (buttons and icons) */
.headerB{
    display: flex;
    gap: 6em;
    justify-content:end;
    align-items: center;
    font-size: 1.2em ;
    font-weight:600;
    margin: 10px;
    flex-wrap: wrap;
}



/* contact button in header  */
.contact{
    color: white;
    /* background-color: #008080; */
    background-color: #2898a7;
    border-radius: 5px;
    padding: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
}

/* contact button in header  */
.contact:hover{
    background-color:rgb(87, 85, 85) ;
    transition: .3s;
}


/* My image on header*/
.imgDiv{
    /* height: 950px; */
    display: inline;
}



/* div of text on main Image ( name and skills animation ) */
.styleOnImage{
    position: absolute;
    top: 10.5em;
    left: 3em;
    font-family: Lato;
}

/* div of text on main Image ( name and skills animation ) */
.styleOnImage p{
    display: flex;
    align-items: center;
    position: relative;
    top: 50px;
    font-family:Poppins;
    left: 50px !important;
    font-weight: 600;
    color: #2898a7 !important;
}

/* My name on main Image */
.heading{
    font-size: 4.8em !important;
    font-weight: bolder !important;
    position: relative !important;
    top: 10px !important;
    left: 50px !important;
    font-weight: 700 ;
    margin: 0%;
    color: rgb(45,45,45);
}



/* for styling on animate text */
.animate_text{
  position: absolute;
  overflow: hidden; 
  display: inline;
  font-size: 6em;
  white-space: nowrap; 
  margin: 0 auto; 
  /* letter-spacing: .15em; Adjust as needed */
  left: 5px;
  font-size: 45px !important;

  
}

/* animation on Graphic Designer */
.animation1{
    animation: 
      typing 5.5s steps(40, end) infinite,
      blink-caret 0.5s step-end infinite;
}

/* animation on Web Developer */
.animation2{
    animation: typing1 5.5s steps(30, end) infinite, blink-caret 0.5s step-end infinite;
}
  

  /* The typing effect for Graphic Designer */
  @keyframes typing {
    0% { width: 12 ;border-right: .15em solid rgb(45,45,45)}
    10% { width: 14 ;border-right: .15em solid rgb(45,45,45);}
    15% { width:68% ;border-right: .15em solid rgb(45,45,45)}
    40% { width:60%;border-right: .15em solid rgb(45,45,45); }
    50% {width: 0%; border-right:transparent;}
    100% { width: 0%; border-right:transparent;}
  }

  /* The typing effect for Web Developer */
  @keyframes typing1 {
    0% { width: 0;border-right: transparent;}
    49% { width: 0;border-right: transparent;}
    50% { width: 0%; border-right: .15em solid rgb(45,45,45);}
    65% { width: 60%;border-right: .15em solid rgb(45,45,45)  }
    80% { width: 65%;border-right: .15em solid rgb(45,45,45) }
    100% { width: 0%;border-right: .15em solid rgb(45,45,45) }
  }


/* list of icons in header */
.icons{
    align-items: center;
    justify-content:center;
    display: flex;
    width: 120px;
    margin-right: 10px;
}

/* icons in icons list */
.icon{
    margin: 10px;
}

/* White line for spacing */
.whiteLine {
    background-color: #ffffff;
    height: 40px;
}


/* All Title styles */
  .About ,.skills,.work,.Pot-Title,.MyService,.C-Title{
    font-size: 50px;
    font-weight: bolder;
    /* color: rgb(45,45,45); */
    color: rgb(45,45,45);
    padding: 20px;
    padding-left: 50px;
    font-family: Poppins;
    display: flex;
    align-items: center;
    justify-content: center;

}

/* Main Div of About.tsx file */
.AboutDiv{
    background-color: #e6e7e8;
}


/* discription of About */
.Discription{
    color: rgb(45,45,45);
    font-size: 25px;
    padding-left: 150px;
    padding-right: 180px;
    font-family: monospace;
}


/* text color in discription */
.textColor{
    color: #2898a7;
    font-weight: bolder;
}


/* skill main div */
.skillBack {
    background-color: #e6e7e8;
    height: 45em;
}

/* ul of skills box */
.skillsBoxList {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

/* box of skills "li" */
.skillsBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 250px;
    width: 230px;
    background-color: #d2d5d8;
    border-radius: 10px;
    font-family: Poppins;
    font-weight: 600;
    font-size: x-large;
    padding: 10px 0;
    color: rgb(45, 45, 45);
    box-shadow: 4px 4px 20px #0000002a;
    border: 2px solid white;
}

/* image of skill */
.imageOfSkill {
    padding-top: 20px;
    height: 80px;
    width: auto;
    margin: 0 auto; /* center horizontally */
}


/* line between boxes of skill */
.hrSkill {
    height: 50px;
}

/* image of nextjs */
.imageOfSkillNext{
    padding-top: 40px;
    height:auto;
    width: 120px;
    margin: 0 auto; /* center horizontally */
}

/* hover box of skills "li"  */
.skillsBox:hover{
    /* scale: 108%; */
    background-color: #2898a786;
    /* background-color: #9ca6b1; */
}

/* work main div */
.workMain{
    width: 100%;
    background-color: #e6e7e8;
    height: 30em;
}

/* ul of work */
.workUl{
    height: 20em;
    border-radius: 20px ;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 2em;
    gap: 8%;
    box-shadow: 4px 4px 20px #0000002a;
    border: 2px solid white;
    width: 80%;
    background-size: cover;
    background-position: center;
    background-image: url(./images/work9.jpeg);
    background-size:cover;
    background-repeat: no-repeat;
}


/* div of work ul */
.divOfWorkul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    
}

/* Div of work list */
.workDivLi{
    font-family:Poppins ;
    color: white;
}

/* numers of work count */
.workCount{
    font-size: 80px;
    font-weight: bolder;
}

/* Plus sign in Work */
.plus{
    color: #2898a7
}

/* Project Title  */
.projectTitle{
    font-size: x-large;
    font-weight: 700;
    border-bottom: 3px solid #2898a7;
}

/* Footer 2nd Main Div */
.FooterMain{
    height: 370px;
    background-color: #2898a7;
    display: flex;
}

/* Div of Services and Work text in Footer */
.FooterDiv1{
    height: 334px;
    width: 55%;
    /* background-color: chocolate; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
}

/* Div of contact options in Footer */
.FooterDiv2{
    height: 334px;
    width: 45%;
    background-color: #2898a7;
    color: #E6E7E8;
    padding: 4%;
}

/* Footer text list of Div 1*/
.FooterLi{
    color:#E6E7E8;;
    font-size: 20px;
    font-family:Poppins;
}

/* Footer text of Div 1 */
.Footer-Text{
    color: #E6E7E8;;
    font-size: 20px;
    font-family: Poppins;
    font-weight: 700;
}

/* Div of icons in footer in Div 2 */
.Footer-Icon-div{
    display: flex;
    justify-content: left;
    align-items: center;;
    font-weight: 500;
    font-size: large;
}

/* Footer Icon */
.Footer-icon{
    height: 40px;
    width: auto;
}

/* Footer icons of social media */
.F-icon{
    width: 25px;
}

/* Footer icons ul */
.F-icon-ul{
    display: flex;
    justify-content:left;
    align-items: center;
    gap: 10px;
}

/* Footer gmail test */
.F-gmail{
    height: 45px;
    width: 250px;
    background-color: #E6E7E8;;
    border-radius: 16px;
    padding-left: 10px;
    color: rgb(87, 85, 85);
}

/* Footer subscribe test */
.F-subscribe{
    background-color: rgb(45, 45, 45);
}

/* Footer main Dive */
.FooterHome{
    height: 420px;
    background-color: #2898a7;

}

/* Footer white line */
.F-hr{
    border: 1px solid #E6E7E8;
    width: 80%;
    margin: 0% auto;
}

/* Copywrite icon in footer */
.Copywrite-Icon{
    height: 13px;
    width: auto;
    fill: white;
}

/* Footer copywrite div */
.F-copywriteDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    color: #E6E7E8;
}

/* globals.css */
.Main-Div-Pot {
    min-height: 820px;
    background-color: #E6E7E8;
    /* padding: 2rem; */
    overflow: hidden; /* Prevent overflow during hover */
    text-align: right;
}

.portfolio-grid {
    max-width: 1600px;
    margin: 0 auto;
}

/* Option 1: Zoomed in initially, zooms out on hover */
.P-li {
    height: 300px;
    width: 500px;
    border-radius: 25px;
    background-size: 100%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    background-color: #d2d5d8;
    border: 1px solid #ffffff;
}

/* Div tag for hover view in li of portfilio */
.P-li-div{
    background-image: linear-gradient(to top, #2898a7 , #2898a700);
    height: 300px;
    width: 500px;
    border-radius: 25px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out; /* Smooth fade */
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: end;
    border: 1px solid #ffffff;
}

/* text of Div tag for hover view in li of portfilio */
.P-li-div-p{
    color: white;
    margin-bottom: 30px;
    border-bottom: 1px solid white;

}
/* Hover effects */
.P-li:hover {
    transform: scale(1.02); /* Smooth scaling */
}

.P-li:hover .P-li-div {
    opacity: 1; /* Fade in */
    visibility: visible; /* Make visible */
}

/* ul in portfolio */
.p-ul1, .p-ul2 ,.p-ul3 ,.p-ul4 ,.p-ul5 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    margin: 2rem 0;
}
.portButton{
    background-color: #2898a7;
    margin-right: 120px;
    color: white;
    font-weight: 600;
    font-size: large;
    height: 30px;
    width: 120px;
    scale: 1.25;
    border-radius: 5px;
    border: 1.5px solid white;
    box-shadow: 0px 2px 8px rgba(87, 85, 85, 0.459);
    margin-bottom: 15px;

}

.button-port {
    visibility: hidden;
    opacity: 0;
}

/* Individual portfolio items */
.p-ul1 li:nth-child(1) {
    background-image: url('./images/portfolio/P\(1\).webp');
}
.p-ul1 li:nth-child(2) {
    background-image: url('./images/portfolio/P\(2\).webp');
}
.p-ul1 li:nth-child(3) {
    background-image: url('./images/portfolio/P\(3\).webp');
}
.p-ul2 li:nth-child(1) {
    background-image: url('./images/portfolio/p(4).webp');
}
.p-ul2 li:nth-child(2) {
    background-image: url('./images/portfolio/p(5).webp');
}
.p-ul2 li:nth-child(3) {
    background-image: url('./images/portfolio/P\(6\).webp');
}

.p-ul3 li:nth-child(1) {
    background-image: url('./images/portfolio/P\(7\).webp');
}
.p-ul3 li:nth-child(2) {
    background-image: url('./images/portfolio/P\(8\).webp');
}
.p-ul3 li:nth-child(3) {
    background-image: url('./images/portfolio/P\(9\).webp');
}
.p-ul4 li:nth-child(1) {
    background-image: url('./images/portfolio/p(10).webp');
}
.p-ul4 li:nth-child(2) {
    background-image: url('./images/portfolio/p(11).webp');
}
.p-ul4 li:nth-child(3) {
    background-image: url('./images/portfolio/P\(12\).webp');
}
.p-ul5 li:nth-child(1) {
    background-image: url('./images/portfolio/p(13).webp');
}
.p-ul5 li:nth-child(2) {
    background-image: url('./images/portfolio/p(14).webp');
}
.p-ul5 li:nth-child(3) {
    background-image: url('./images/portfolio/P\(15\).webp');
}



/* gap in about page */
.aboutGap{
    height: 180px;
    background-color: #E6E7E8;
}

/* selection  */
::selection{
    background-color: #2898a7;
    color: white;
}

/* navbar buttons of navbar */
.buttons a {
    color: #989ea5;
    text-decoration: none;
    padding: 8px 16px;
}
.buttons:hover a:hover{
    color: #2898a7;
    text-decoration: none;
    padding: 8px 16px;
}

/* active butttons of navbar */
.active a {
    color: #2898a7 !important;
    /* display: flex; */
}


.P-page-div{
    margin-top: -70px;
    text-align: center;
    margin-bottom: 60px;
}

.behance-button{
    background-color: #2898a7;
    color: white;
    font-weight: 600;
    font-size: large;
    height: 30px;
    width: 120px;
    scale: 1.5;
    border-radius: 5px;
    border: 1.5px solid white;
    box-shadow: 0px 2px 8px rgba(87, 85, 85, 0.459);
    margin-top: 25px;
    /* display: flex; */
    text-align: left;
    padding-left: 10px;
}

.behance-button:hover ,.portButton:hover{
    transition: .2s ease-in;
    box-shadow: 0px 2px 8px #4549498f;
    background-color: rgb(87, 85, 85);
}

.arrow-icon{
    height: 20px;
    position: relative;
    bottom: 22px;
    left: 35px;
}


/* main Service Div */
.service {
    background-color: #e6e7e8;
    height: 600px;
    font-family:Poppins;
}

/* Text My service */
.MyService{
    font-size: 50px;
    font-weight: bolder;
    color: rgb(45,45,45);
}

/* ervices box Ul  */
.services{
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 10em;
    flex-wrap: wrap;
    padding-top: 30px;
}

/* li of service panel */
.servicesBox{
    display:flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    width: 200px;
    color: rgb(45,45,45);
    align-items: center;
}

/* titles in service */
.S-title{
    font-size: 23px;
    font-weight: 700;
    letter-spacing: 1px;
    padding-top: 20px;
    border-bottom: 3px solid #2898a7;
}

/* Service Panel */
.S-Icon{
    height: 70px;
    width: auto;
    margin: 0% auto;  
}

/* Service description */
.S-description{
    padding-top: 15px;
}

/* Contact Main Div */
.C-main-div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: poppins;
    margin-top: -120px;

}

/* div in main div of Service */
.C-div{
    width: 80%;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Div of Contact Detail panel in Services */
.C-Detail{
    height: 700px;
    width: 100%;
}



.C-Detail-div{
    height: 750px;
    width: 500px;
    background-color: #2898a7;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.C-D-div{

    font-size: 20px;
    height: 120px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.C-D-title{
    height: 140px;
    padding-top: 60px;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 2px;
}

.C-D-line1{
    width: 400px;
    border: 2px solid white;
    border-radius: 3px;
}

.C-D-line2{
    width: 400px;
    border: 1.5px solid white;
    border-radius: 3px;
}


/* Title  */
.C-ReachNow{
    height: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.C-Reach-title{
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 2px;
    color: rgb(45,45,45);
}

.C-Reach-input{
    height: 80px;
    width: 70%;
    border-radius: 10px;
    padding-left: 10px;
}

.C-Reach-msg{
    width: 70%;
    height: 250px;
    padding-left: 10px;
    border-radius: 10px;
    padding-bottom: 200px;
}